Source: kiwiirc
Maintainer: Vincent Bernat <bernat@debian.org>
Build-Depends: debhelper (>= 9),
               nodejs, npm,
               dh-systemd

Package: kiwiirc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: IRC web client
