Source: kiwiirc
Maintainer: Vincent Bernat <bernat@debian.org>
Build-Depends: debhelper (>= 11),
               nodejs, npm,
               wget, ca-certificates

Package: kiwiirc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IRC web client
