[Unit]
Description=KiwiIRC
After=network.target

[Service]
ConditionPathExists=/etc/kiwiirc/config.js
ExecStart=/usr/lib/kiwiirc/kiwi -f start -c /etc/kiwiirc/config.js
Restart=on-failure
DynamicUser=true

[Install]
WantedBy=multi-user.target
