[Unit]
Description=riemann server
After=network.target

[Service]
ConditionPathExists=/usr/share/java/riemann.jar
ConditionPathExists=/etc/riemann/riemann.config
Environment=JAVA=/usr/bin/java
Environment=JAVA_OPTS=
Environment=EXTRA_CLASSPATH=
ExecStart=$JAVA $JAVA_OPTS -cp /usr/share/java/riemann.jar:$EXTRA_CLASSPATH riemann.bin start /etc/riemann/riemann.config
Restart=on-failure
DynamicUser=true
LogsDirectory=riemann
StateDirectory=riemann
RuntimeDirectory=riemann

[Install]
WantedBy=multi-user.target
