[Unit]
Description=riemann server
After=network.target

[Service]
ConditionPathExists=/usr/share/java/riemann.jar
ConditionPathExists=/etc/riemann/riemann.config
EnvironmentFile=/etc/default/riemann
ExecStart=$JAVA $JAVA_OPTS -cp /usr/share/java/riemann.jar:$EXTRA_CLASSPATH riemann.bin start /etc/riemann/riemann.config
Restart=on-failure

[Install]
WantedBy=multi-user.target
