#!/usr/bin/make -f

DISTRIBUTION = $(shell sed -n "s/^VERSION_CODENAME=//p" /etc/os-release)
VERSION = 0.3.2
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0
TARBALL = $(VERSION).tar.gz
URL = https://github.com/riemann/riemann/archive/$(TARBALL)

%:
	dh $@

override_dh_update_autotools_config:
	# Grab and unpack wanted version
	wget -N --progress=dot:mega $(URL)
	tar --strip-components=1 -xf $(TARBALL)

override_dh_auto_build:
	lein uberjar

override_dh_link:
	dh_link usr/share/java/riemann-$(VERSION)-standalone.jar usr/share/java/riemann.jar

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)

# Slow with Java stuff. For custom packages, there is not much
# interest in using it.
override_dh_strip_nondeterminism:
