Source: memcached
Maintainer: Vincent Bernat <bernat@debian.org>
Build-Depends: debhelper (>= 11),
               wget, ca-certificates,
               libevent-dev

Package: memcached
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser
Description: high-performance memory object caching system
