#!/usr/bin/make -f

DISTRIBUTION = $(shell lsb_release -sr)
VERSION = 1.4.25
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0
TARBALL = memcached-$(VERSION).tar.gz
URL = http://www.memcached.org/files/$(TARBALL)

%:
	dh $@ --with systemd

override_dh_auto_clean:
	# Grab and unpack wanted version
	wget -N --progress=dot:mega $(URL)
	tar --strip-components=1 -xf $(TARBALL)

override_dh_auto_test:
	# Don't run the whitespace test
	rm t/whitespace.t
	dh_auto_test

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
