Source: puppetboard
Maintainer: Vincent Bernat <bernat@debian.org>
Build-Depends: debhelper (>= 9),
               dh-virtualenv,
               dh-systemd,
               python

Package: puppetboard
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, adduser
Description: web frontend for PuppetDB
