#!/usr/bin/make -f

DISTRIBUTION = $(shell sed -n "s/^VERSION_CODENAME=//p" /etc/os-release)
VERSION = 0.3.0
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0
TARBALL = v$(VERSION).tar.gz
URL = https://github.com/voxpupuli/puppetboard/archive/$(TARBALL)

%:
	dh $@ --buildsystem=pybuild --with python-virtualenv

override_dh_clean:
	dh_clean
	# Grab and unpack wanted version
	wget -N --progress=dot:mega $(URL)
	tar --strip-components=1 -xf $(TARBALL)

override_dh_virtualenv:
	dh_virtualenv --preinstall=gunicorn --python python3

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
