#!/usr/bin/make -f
export LANG=C.UTF-8
export LC_ALL=C.UTF-8

DISTRIBUTION := $(shell lsb_release -sc)
VERSION = $(shell debian/sentry/usr/share/python/sentry/bin/python -c 'import pkg_resources; print(str(pkg_resources.get_distribution("sentry")).split()[1])')
DEBVERSION = $(VERSION)-0~$(DISTRIBUTION)0

%:
	dh $@ --with python-virtualenv,systemd

override_dh_gencontrol:
	dh_gencontrol -- -v$(DEBVERSION)

override_dh_virtualenv:
	dh_virtualenv \
		--extra-pip-arg="--no-binary=:all:" \
		--extra-pip-arg="--only-binary=symbolic" \
		--preinstall=wheel \
		--requirements="requirements.txt" --skip-install

override_dh_shlibdeps:
	dh_shlibdeps -X/firefox/x86/

override_dh_installinit:
	dh_installinit --name=sentry-web
	dh_installinit --name=sentry-worker
	dh_installinit --name=sentry-cron
override_dh_systemd_enable:
	dh_systemd_enable --name=sentry-web
	dh_systemd_enable --name=sentry-worker
	dh_systemd_enable --name=sentry-cron
