#!/usr/bin/make -f
export LANG=C.UTF-8
export LC_ALL=C.UTF-8

DISTRIBUTION = $(shell sed -n "s/^VERSION_CODENAME=//p" /etc/os-release)
VERSION = $(shell debian/sentry/usr/share/python/sentry/bin/python -c 'import pkg_resources; print(str(pkg_resources.get_distribution("sentry")).split()[1])')
DEBVERSION = $(VERSION)-0~$(DISTRIBUTION)0

%:
	dh $@ --with python-virtualenv

override_dh_gencontrol:
	dh_gencontrol -- -v$(DEBVERSION)

override_dh_virtualenv:
	# With this command, we:
	#  - download everything from the provided requirements.txt
	#  - don't use wheels, except for "symbolic"
	dh_virtualenv \
		--extra-pip-arg="--no-binary=:all:" \
		--extra-pip-arg="--only-binary=symbolic" \
		--preinstall=wheel \
		--requirements="debian/requirements.txt" --skip-install

override_dh_shlibdeps:
	dh_shlibdeps -X/firefox/x86/

override_dh_installsystemd:
	dh_installsystemd --name=sentry-web
	dh_installsystemd --name=sentry-worker
	dh_installsystemd --name=sentry-cron
