#!/usr/bin/make -f

export PYBUILD_DESTDIR_python2=debian/python-flask/
export PYBUILD_DESTDIR_python3=debian/python3-flask/

VERSION = 1.0.3
DISTRIBUTION = $(shell sed -n "s/^VERSION_CODENAME=//p" /etc/os-release)
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0
TARBALL = Flask-$(VERSION).tar.gz
URL = https://pypi.python.org/packages/source/F/Flask/$(TARBALL)

%:
	dh $@ --with python2,python3 --buildsystem pybuild

override_dh_auto_clean:
	# Download and extract the tarball
	wget -N --progress=dot:mega $(URL)
	tar --strip-components=1 -xf $(TARBALL)

override_dh_auto_test:
	# Do not run tests

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
