#!/usr/bin/make -f

ARCH = $(shell dpkg-architecture -qDEB_HOST_ARCH | sed "s/^i//")
DISTRIBUTION = $(shell lsb_release -sr)
VERSION = 1.6.1
PACKAGEVERSION = 2:$(VERSION)-0~$(DISTRIBUTION)0
TARBALL = go$(VERSION).linux-$(ARCH).tar.gz
UPSTREAM_URL = "https://storage.googleapis.com/golang/$(TARBALL)"

%:
	dh $@

override_dh_auto_configure: $(info I: VERSION=$(VERSION)) $(info I: TARBALL=$(TARBALL))
	wget --progress=dot:mega -N $(UPSTREAM_URL)
	tar xf $(TARBALL)

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
