#!/usr/bin/make -f

ARCH = $(shell dpkg-architecture -qDEB_HOST_ARCH | sed "s/^i//")
DISTRIBUTION = $(shell lsb_release -sc)
VERSION = 1.6.1
PACKAGEVERSION = 2:$(VERSION)-0~$(DISTRIBUTION)0
TARBALL = go$(VERSION).linux-$(ARCH).tar.gz
URL = https://storage.googleapis.com/golang/$(TARBALL)

%:
	dh $@

override_dh_auto_clean:
	wget -N --progress=dot:mega $(URL)
	tar xf $(TARBALL)

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
