Source: nodejs
Maintainer: Vincent Bernat <bernat@debian.org>
Build-Depends: debhelper (>= 9),
               wget, ca-certificates, lsb-release

Package: nodejs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: evented I/O for V8 javascript
