#!/usr/bin/make -f

DISTRIBUTION = $(shell sed -n "s/^VERSION_CODENAME=//p" /etc/os-release)
VERSION = 0.$(shell date +%Y%m%d)
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0

%:
	dh $@

override_dh_auto_clean:
	# http://dev.maxmind.com/geoip/geoip2/geolite2/
	wget -N --progress=dot:mega "http://geolite.maxmind.com/download/geoip/database/GeoLite2-City.mmdb.gz"
	wget -N --progress=dot:mega "http://geolite.maxmind.com/download/geoip/database/GeoLite2-Country.mmdb.gz"
	# Uncompress
	for db in *.gz; do gunzip -f $$db ; done

override_dh_gencontrol:
	dh_gencontrol -- -v0.$(shell date +%Y%m%d)~$(DISTRIBUTION)$(VERSION)
