Source: etcd
Maintainer: Vincent Bernat <bernat@debian.org>
Build-Depends: debhelper (>= 11),
               wget, ca-certificates,
               golang, git

Package: etcd
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: highly-available key value store
