Source: etcd
Maintainer: Vincent Bernat <bernat@debian.org>
Build-Depends: debhelper (>= 9),
               wget, ca-certificates, lsb-release,
               golang, git,
               dh-systemd

Package: etcd
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser
Description: highly-available key value store
