#!/usr/bin/make -f

DISTRIBUTION = $(shell sed -n "s/^VERSION_CODENAME=//p" /etc/os-release)
VERSION = 3.3.13
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0
TARBALL = v$(VERSION).tar.gz
URL = https://github.com/etcd-io/etcd/archive/$(TARBALL)

%:
	dh $@

export GOCACHE=/tmp
override_dh_update_autotools_config:
	# Download and extract the tarball
	wget -N --progress=dot:mega $(URL)
	tar --strip-components=1 -xf $(TARBALL)

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
